<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lzchat.LZChat">
    <uses-sdk android:minSdkVersion="21"/>
    <uses-permission android:name="android.permission.INTERNET"
        />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lzchat.LZChat.utilities.ChatApplication"
        android:allowBackup="true"
        android:icon="@drawable/lz_bubbles"
        android:supportsRtl="true"
        android:label="LZChat"
        android:theme="@style/Theme.CHATAPP_THEME">
        <activity android:name="com.lzchat.LZChat.activities.IndividualChatActivity"/>
        <activity android:name="com.lzchat.LZChat.activities.SignInActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>
        <activity android:name="com.lzchat.LZChat.activities.ContactsListActivity"/>
        <activity android:name="com.lzchat.LZChat.activities.LaunchChatsActivity"/>
        <activity android:name="com.lzchat.LZChat.activities.TrailerGridViewActivity">
        </activity>

        <service
            android:name="com.lzchat.LZChat.database.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.lzchat.LZChat.database.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>